<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda de productos</title>
  <link rel="icon" href="/img/Icon_page.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/profile"> <img src="/img/carrito.png" alt=width="30" height="24"
          class="d-inline-block align-text-top"> Mi Tienda</a>
      <button class="navbar-toggler ms-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link active" href="/profile">Perfil<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Producto<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Salir<span class="sr-only"></span></a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link active" href="/">Inicio<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrarse<span class="sr-only"></span></a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row mt-3">

      <% if (signupMessage.length > 0) { %>
      <div class="alert alert-danger"><%= signupMessage %></div>
      <% } %>

      <% if (signinMessage.length > 0) { %>
      <div class="alert alert-danger"><%= signinMessage %></div>
      <% } %>